
body{
    margin:0;
    text-align: center;
    background-color: #E4F9F5;
    /* font-family: ; */
    font-family: 'merriweather',serif;


}
.aditya{
    width: 250px;
    height: auto;
}
.profiles{
    text-align: center;
}
.list-profiles{
    display: inline-block;
    text-align: left;
    color:#66BFBF;
}

hr{
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    border-style:dotted none none;
    width:5%;
    border-color:#66BFBF;
    text-align: center;
    border-width:5px
    
}
h1{
    margin:0;
    width: 20%;
    margin: 0 auto 0 auto;
    font-family: 'sacramento',cursive;
    /* font-size:xx-large; */
    font-size: 40px;

}

.top-container{
    position: relative;
    top:100px;
    color:#66BFBF;

    
}
.top-cloud{
    position: relative;
    left:190px;

}
.bottom-cloud{
    position:absolute;
    top:210px;
}

.mountain{
    position: relative;
    bottom:60px;
}
/* .middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
}
.bottom-container{
        background-color: blue;
        width: 200px;
    height: 200px;
} */