
body{
    margin:0;
    text-align: center;
    background-color: #E4F9F5;
    /* font-family: ; */

}
h1{
    margin:0;
    width: 20%;
    margin: 0 auto 0 auto;
    
}

.top-container{
    position: relative;
    top:100px;
    
}
.top-cloud{
    position: relative;
    left:190px;

}
.bottom-cloud{
    position:absolute;
    top:200px;
}
/* .middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
}
.bottom-container{
        background-color: blue;
        width: 200px;
    height: 200px;
} */